<!DOCTYPE html>
<html lang="en">
<head>
  <title>
    <%= title %>
  </title>
</head>
<body>
  <%-include('_header'); %>

    <main id="layout-main">

      <%- body %>

    </main>

    <%-include('_footer'); %>
      
</body>

</html>