/* body{
    background-color: grey;
    font-size: 20px;
}

.wrapper{
    width: 700px;
    margin: 0 auto;
    background-color: #fff;
    padding: 40px;
}
header, footer {
    background-color: gray;
    padding: 40px;
} */